/* Import Statements */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Nunito:wght@300;400&display=swap');

/* Sitewide CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings, subheadings and logo */

h1, h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #70BBE7;
}

header {
    top: 0;
    width: 100%;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.750);
}

#logo {
    float: left;
    font-size: 250%;
    padding: 0px 20px;
}

/* Navigation links */

#navbar {
    font-size: 90%;
    text-transform: uppercase;
    float: right;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar li {
    margin-right: 20px;
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #70BBE7;
}

.active {
    border-bottom: 1px solid #70BBE7;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* #hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/kapthol-hero-image.png);
    background-repeat: no-repeat;
    background-position: left center; */

/* Hero Zoom - 'Transitions and Transformations' Animation  */
    /* Animates zoom effect */
    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
/* } */

/* Hero Image level of zoom */
/* @keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
} */

/* Hero image cover text */

#hero-text {
    font-size: 130%;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* background-color: rgba(241, 109, 107, .7); */
    position: absolute;
}

#hero-text h1 {
    font-size: 500%;
    color: rgba(255, 255, 255, 1);
}

#hero-text h3 {
    text-decoration: none;
    /* color: rgba(242,221,178,1); */
    color: rgba(0, 0, 0, 1);
    /* color: rgba(82,56,44,1); */
    font-size: 180%;
}

#hero-text p {
    letter-spacing: 15px;
    text-transform: lowercase;
    text-size-adjust: 90%;
    color: rgba(255, 255, 255, 0.7);
}

/* Hero top and bottom colors */

#hero-top {
    background-color: #70BBE7;
    height: 66%;
    width: 100%;
}

#hero-bottom {
    background-color: #F2DDB2;
    height: 33%;
    width: 100%;
}

/* Hero penguin */

#hero-penguin {
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    bottom: 30px;
    left: 10%;
    position: absolute;
}
#hero-penguin-image {  
    max-width: 75%;  
    height: auto;
    /* transform: rotate(350deg); */

    animation-name: hero-penguin-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Hero pengion level of zoom */
@keyframes hero-penguin-zoom {
    from{
        transform: scale(1);
        /* transform: rotate(350deg); */
    }
    to {
        transform: scale(1.10) rotate(-10deg);
    }
}
    