/* Import Statements */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Nunito:wght@300;400&display=swap');

/* Sitewide CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}