/* Import Statements */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Nunito:wght@300;400&display=swap');

/* Sitewide CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings, subheadings and logo */

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #70BBE7;
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 180%;
    color: #000;
}

p {
    margin-top: 2px;
}

header {
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.85);
    position: sticky;
    z-index: 1;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* Navigation links */

#navbar {
    font-size: 90%;
    text-transform: uppercase;
    float: right;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar li {
    margin-right: 20px;
    display: inline;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #70BBE7;
}

.active {
    border-bottom: 1px solid #70BBE7;
}

/* Hero section */

#hero-container {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/* Hero cover text */

#hero-text {
    font-size: 130%;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: absolute;
}

#hero-text h1 {
    font-size: 500%;
    color: rgba(255, 255, 255, 1);
}

#hero-text h3 {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 180%;
    text-align: center;
}

#hero-text p {
    letter-spacing: 15px;
    text-transform: lowercase;
    text-size-adjust: 90%;
    color: rgba(255, 255, 255, 0.7);
}

/* Hero top and bottom colors */

#hero-top {
    background-color: #70BBE7;
    height: 66%;
    width: 100%;
}

#hero-bottom {
    background-image: linear-gradient(rgba(242, 221, 178, 1), rgba(200, 180, 150, 1));
    height: 33%;
    width: 100%;
}

/* Hero palm */

#hero-palm {
    width: 350px;
    height: auto;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0);
    bottom: 15px;
    right: 35px;
    position: absolute;
}
#hero-palm-image {  
    max-width: 100%;  
    height: auto;

    animation-name: hero-palm-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Hero palm level of zoom */

@keyframes hero-palm-zoom {
    from{
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

/* Hero penguin */

#hero-penguin {
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    bottom: 30px;
    left: 10%;
    position: absolute;
}
#hero-penguin-image {  
    max-width: 50%;  
    height: auto;
    z-index: 2;
    
    animation-name: hero-penguin-zoom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* Hero pengion level of zoom */

@keyframes hero-penguin-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.10) rotate(-10deg);
    }
}

/* About us section */

.about {
    height: 100%;
}

.sect-heading h1 {
    text-align: center;
    margin-top: 60px;
    color: #232361;
    letter-spacing: 0px;
    font-size: 225%;
}

.sect-heading h2 {
    margin-top: 2px;
    font-size: 22px;
    color: #232361;
}

.sect-heading hr {
    border-top: 1px solid #70BBE7;
    width: 25%;
    margin: 25px auto;
}

.left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.center-about {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 33%;
    margin: 0 auto;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(112,187,231,0.5);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 180px;
}

.circle-cover-background {
    background: url(../images/kapthol-hero-image-300.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    border-radius: 50%;
    width: 300px; 
    height: 300px;
}

.center-about-text {
    text-align: center;
}

.center-about-text h2 {
    color: rgba(112,187,231,1);
    font-size: 300%;
    letter-spacing: -2px;
    text-align: center;
}

.left-about-client {
    width: 66%;
    float: right;
    line-height: 20px;
    clear: both;
    text-align: center;
}

/* fade on hover image */

.left-about-client:hover {
    opacity: 0.7;
    transition: .5s ease;
}

.right-about-client {
    width: 66%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: center;
    /* width: 250px; 
    height: 250px; 
    border-radius: 50%; */
}

.right-about-client:hover {
    opacity: 0.7;
    transition: .5s ease;
}

/* #service-prof {
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
} */

.about-top img {
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
}


.center-about-client {
    width: 66%;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
}

.center-about-client:hover {
    opacity: 0.7;
    transition: .5s ease;
}

/* testimonials */

.testimonial {
    background-color: rgba(112,187,231,1);
    /* background-color: rgba(242,221,178,1); */
    width: 100%;
    height: 135px;
    color: #000;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    padding-top: 5%;
    border-bottom: 15px solid #F2DDB2;
}

.testator {
    font-style: italic;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-left: 50%;
}

/* Our Clients Grid  - technique sourced from <a https://www.w3schools.com/css/tryit.asp?filename=trycss_grid */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 0 20px;
    padding-bottom: 75px;
}

.grid-item {
    border: 1px solid #3a3a3a30;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover {
    opacity: 0.7;
    transition: .5s ease;
}

.grid-item p {
    font-size: 20px;
}

/* Font Awesome Styling */

.icon {
    color: rgba(112,187,231,1);
    font-size: 800%;
    padding-bottom: 30px;
}

/* .bottom-about-sect {
    padding-bottom: 750px;
} */

/* Contact Us Section */

#contact-form-section {
    clear: left;
    background-image: url(../images/contact-us.jpeg);
    background-size: cover;
    background-position: center no-repeat;
    height: 750px;
}

.input-forms {
    margin: 50px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 40%;
    position: absolute;
    left: 10%;
    padding: 10px 30px 30px 30px;
    border-radius: 5px;
}

.input-forms h2 {
    color: rgba(255,255,255,0.6);
    margin: 15px 0 5px;
}

form label {
    color: rgba(255,255,255,0.8);
}

.text-input {
    background: transparent;
    color: rgba(255,255,255, 1);
    width: 100%;
    height: 30px;
    margin: 5px 0 15px 0;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 3px;
    padding-left: 12px;
}

.text-input:hover {
    border-color: #70BBE7;
}

.submit-button {
    margin-top: 10px;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 120%;
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    background-color: #70BBE7;
}

.submit-button:hover {
    color: #70BBE7;
    background-color: #fff;
}

textarea {
    padding: 12px;
    padding-right: 0px;
    height: 20px;
    resize: vertical;
}

/* footer */
footer {
    margin: 0;
}

footer p {
    height: 75px;
    width: 50%;
    background-color: #000;
    bottom: 0px;
    margin: 0;
    display: inline-block;
    float: right;
    padding-top: 30px;
    color: #F2DDB2;
    font-size: 90%;
    /* position: absolute; */
}

.social {
    text-align: right;
    width: 50%;
    height: 75px;
    float: right;
    padding-top: 30px;
    background-color: #000;
    display: inline-block;
}

.social li {
    display: inline;
    font-size: 250%;
}

.social i {
    margin-right: 2%;
    padding: 0 4%;
    color: rgba(255,255,255,0.3);
}

.social i:hover {
    opacity: 0.7;
    transition: .5s ease;
    color: #70BBE7;
}

.social a {
    color: #70BBE7;
}

/* footer p {
    display: inline;
    width: 50%;
    float: right;
    padding-top: 30px;
    color: #F2DDB2;
    font-size: 90%;
} */

.separator {
    color: rgba(255,255,255,0.3);
    font-size: 110%;
    padding-left: 10px;
}

#address {
    color: #fff;
    padding-left: 16px;
}

/* Success Page */

.success-icon {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    /* background-color: blueviolet; */
    /* display: inline; */
    font-size: 400%;
    color: rgba(58,58,58,1);
}

.success-icon i {
    color: rgba(58,58,58, 0.3);
}

.success-icon i:hover {
    color: #70BBE7;
}

.right-align-success {
    padding-top: 30px;
    width: 50%;
    float: right;
    text-align: left;
    background-color: aquamarine;
}

.center-align-success {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/success.png);
    background-size: cover;
    background-position: center no-repeat;
    border-radius: 50%;
}

.center-align-success i {
    color: #fff;
}

.center-align-success .separator {
    color: #fff;
}

#quote-success {
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #70BBE7;
    font-size: 250%;
}
.center-align-success p {
    color: #fff;
    font-size: 120%;
    width: 50%;
    margin: 0 auto;
}

/* Experience alignment pages - Narrow Middle */

.left-align-experience {
    padding-left: 20px;
    width: 45%;
    height: auto;
    float: left;
    text-align: center;
    /* background-color: greenyellow; */
    /* position: absolute; */
    /* top: 0; */
}

.left-align-experience hr {
    border: 0;
    border-top: 1px solid blue;
    width: 100px;
    margin: 5px 0 0 20px;
    padding: 10px 0 10px 75px;
}

.left-align-experience img {
    padding-top: 2.5%;
    width: 75%;
    height: auto;
    /* position: relative; */
}

.left-align-experience h2, h3, h4, ul {
    list-style: none;
    text-align: left;
}

.left-align-experience li {
    font-size: 90%;
}

.indent-experience {
    padding-left: 12.5%;
    position: relative;
}

.right-align-experience {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25%;
    height: auto;
    /* margin: 0 auto; */
    float: right;
    text-align: center;
    /* background-color: aquamarine; */

    /* border-left: 1px solid rgba(58,58,58, 0.3); */
    position: relative;
    /* margin-left: 75%; */
    top: 50%;
    /* margin: 75px 0px 0px; */
}

.right-align-experience img {
    width: 75%;
    height: auto;
    padding-bottom: 50px;
}

.center-align-experience {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25%;
    /* margin: 0 auto; */
    text-align: center;
    /* background-color: blueviolet; */

    /* Vertical line  */
    /* border-left: 1px solid rgba(58,58,58, 0.3); */
    position: relative;
    margin-left: 50%;
    top: 50%;
    /* margin: 75px 50% 0px; */
}

.center-align-experience img {
    width: 75%;
    height: auto;
    padding-bottom: 50px;
}

.bottom-align-experience {
    padding: 50px;
    width: 100%;
    height: auto;
    /* background-color: #F2DDB2; */
}

/* Standard alignment pages - Wide Middle */

.left-align-standard {
    padding-top: 30px;
    width: 33%;
    float: left;
    text-align: center;
    background-color: greenyellow;
}

.right-align-standard {
    padding-top: 30px;
    width: 33%;
    float: right;
    text-align: center;
    background-color: aquamarine;
}

.center-align-standard {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    background-color: blueviolet;
}

.bottom-align-standard {
    padding-top: 30px;
    width: 100%;
    background-color: #F2DDB2;
}